# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# IDE
.idea/
.vscode/

# Sensitive / env files
.env
config.py
